@font-face {
    src: url("../fonts/UTM\ Neo\ Sans\ IntelBold_Italic.ttf");
    font-family: Sans-IntelBold_Italic;
}

body {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#main-content {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../imgs/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main-content>div:not(.loader) {
    width: 400px;
    padding: 0px 5px;
    margin-bottom: 25px;
    background-image: url("../imgs/textbox.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main-content>div>div {
    background-image: url("../imgs/button_front.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3px 20px;
    display: flex;
    align-items: center;
    border: 5px solid #ffdf33;
}

#main-content>div>div>input {
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    width: 100%;
    font-family: Sans-IntelBold_Italic;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
}

#main-content>div>div>input::placeholder {
    white-space: nowrap;
}

#main-content>div>div>i {
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0);
    width: 10px;
    height: 10px;
}

.red-bar {
    background-image: url("../imgs/redBar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 100%;
}

#main-content #btn-register {
    margin-top: 20px;
    background-image: url("../imgs/button_selected.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 7px;
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 45%;
    top: 37%;
    display: none;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}